body, html{
    font-family: 'Roboto' , sans-serif; /* Font */

    height: 100%; /* Full Height */
    width: 100%; /* Full size */

    margin: 0px; /* Space outside of something */
    padding: 0px;  /* Space inside something */
    overflow-x: hidden;
}

/* Parallax scroll */
.parallax{
    background-image: url("assets/bkg.png");
    height: 200%;

    /* Scrolling effect for 1st bkg */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* GeoMap */
.GeoMap{
    margin: 0;
    padding: 0;
/*    background: url(bg.jpg);
    background-size: cover;
*/
}

