body, html{
    font-family: 'Roboto' , sans-serif; /* Font */

    height: 100%; /* Full Height */
    width: 100%; /* Full size */

    margin: 0px; /* Space outside of something */
    padding: 0px;  /* Space inside something */
    overflow-x: hidden;
}

/* BKG picture */
.bkg{
    background-image: url("assets/bkg.png");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* GeoMap: Discover More Text */
.GeoMap{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

/* Discover More Animation */
h1
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(rgba(255,255,255,1) 20%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: lighter;
}
h1:hover
{
    letter-spacing: 18px;
}

/* GeoMap */
h2
{
    position: absolute;
    top: 0%;
    left: 34%;
    font-size: 5em;
    font-weight: lighter;
    letter-spacing: 10px;
}

/* Search Bar annimation and style */
.Search{
    position: absolute;
    top: 35%;
    left: 43%; 
}

input[type=text] {
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 25px;
    border: 2px;
    padding: 20px; 
    height: 10px;  
  }
  
  /* Change size of text box when clicked on */
  input[type=text]:focus {
    width: 200%;
  }
